{
  "swagger": "2.0",
  "info": {
    "description": "This is a API for demo customers accessing their personal details and genetic information as well as for recording their lifestyle data ",
    "version": "1.0.0",
    "title": "demo API",
    "contact": {
      "email": "devops@demo.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.demo.com",
  "basePath": "/v1",
  "tags": [
    {
      "name": "genetics",
      "description": "Everything about your genetics"
    },
    {
      "name": "customer",
      "description": "Operations about customer"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/customer/login": {
      "post": {
        "tags": [
          "customer"
        ],
        "summary": "Login",
        "description": "",
        "operationId": "login",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Username and password",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Login"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Token"
            },
            "examples": {
              "application/json": {
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          }
        }
      }
    },
    "/customer/logout": {
      "post": {
        "tags": [
          "customer"
        ],
        "summary": "Logs out current logged in user session",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/customer/{customerId}/user": {
      "get": {
        "tags": [
          "customer"
        ],
        "summary": "Get user details about the customer",
        "description": "Get user details about the customer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "ID of customer, whose user information to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/User"
            },
            "examples": {
              "application/json": {
                "firstname": "Tester",
                "lastname": "Swift",
                "email": "test@example.com",
                "dob": "1980-10-27"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/customer/{customerId}/report": {
      "get": {
        "tags": [
          "genetics"
        ],
        "summary": "Get PDF health report",
        "description": "Get PDF health report",
        "produces": [
          "application/pdf"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "ID of customer, whose user information to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            },
            "examples": {
              "application/pdf": {
                "url": "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/customer/{customerId}/genetic": {
      "get": {
        "tags": [
          "genetics"
        ],
        "summary": "Get genetic details about the customer",
        "description": "Get genetic details about the customer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "ID of customer, whose genetic detail to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Genotype"
              }
            },
            "examples": {
              "application/json": [
                {
                  "name": "N1",
                  "symbol": "S1"
                },
                {
                  "name": "N2",
                  "symbol": "S2"
                }
              ]
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/customer/{customerId}/heartrate": {
      "post": {
        "tags": [
          "lifestyle"
        ],
        "summary": "Create a heart rate entry",
        "description": "Create a heart rate entry",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "ID of customer, whose genetic detail to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "heart rate",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HeartRate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "created successfully"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "demo_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://api.demo.com/oauth",
      "flow": "implicit",
      "scopes": {
        "write": "update your account",
        "read": "read your genetic results"
      }
    },
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "Login": {
      "type": "object",
      "required": [
        "username",
        "password"
      ],
      "properties": {
        "username": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "Token": {
      "type": "object",
      "required": [
        "token"
      ],
      "properties": {
        "token": {
          "type": "string"
        }
      }
    },
    "User": {
      "type": "object",
      "required": [
        "firstname",
        "lastname",
        "email",
        "dob"
      ],
      "properties": {
        "firstname": {
          "type": "string"
        },
        "lastname": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "dob": {
          "type": "string"
        }
      }
    },
    "Genotype": {
      "type": "object",
      "required": [
        "name",
        "symbol"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "symbol": {
          "type": "string"
        }
      }
    },
    "HeartRate": {
      "type": "object",
      "required": [
        "rate",
        "timestamp"
      ],
      "properties": {
        "rate": {
          "type": "string"
        },
        "timestamp": {
          "type": "string"
        }
      }
    }
  }
}